header {
    background-color: #e56399;
}

.container-fluid {
    padding-top: 25px;
}

header h1 {
    font-size: 2rem;
}

header h1,
header h3 {
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1rem;
    line-height: 3rem;
    padding: 20px;
}

.instructions {
    padding: 40px;
}

@keyframes dancing {
    0% {-ms-transform: rotatez(0deg); /* IE 9 */
        -webkit-transform: rotatez(0deg); /* Safari 3-8 */
        transform: rotatez(0deg);}
    16% {-ms-transform: rotatez(30deg); /* IE 9 */
        -webkit-transform: rotatez(30deg); /* Safari 3-8 */
        transform: rotatez(30deg);}
    32% {-ms-transform: rotatez(-30deg); /* IE 9 */
         -webkit-transform: rotatez(-30deg); /* Safari 3-8 */
         transform: rotatez(-30deg);}
    48% {-ms-transform: rotatez(0deg); /* IE 9 */
         -webkit-transform: rotatez(0deg); /* Safari 3-8 */
         transform: rotatez(0deg);} 
    70% {-ms-transform: rotatez(360deg); /* IE 9 */
          -webkit-transform: rotatez(360deg); /* Safari 3-8 */
          transform: rotatez(360deg);}
    88% {font-size: 3rem;}
    100% {font-size: 2rem;}      
}

h2 {
    text-align: center;
    font-weight: bold;
    -webkit-animation-name: dancing;
    -webkit-animation-duration: 4s;
    animation-name: dancing;
    animation-duration: 4s;
}

 button.jsMade {
     margin: .5rem;
     font-size: 1.75rem;
     color: #e56399;
     background-color: #000000;
     border: 1.75px solid #FFD700;
 }

 fieldset {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
 }

 #submitButton {
     color: #000000;
     background-color: #e56399;
     border: 1.75px solid #FFD700;
 }

 p {
     text-align: center;
 }

 img.bandGif {
    width: 75%;
    position: relative;
    left: 50;
 } 

 /*TABLET STYLING*/ 

 @media (min-width: 767.98px) {
    .gifDiv {
        float: left;
        margin: 10px;
    } 
 }

 